.body{
	background: #181818;
	margin:  0px;
}

/*...........styles...........*/

.link{
	font-family: 'Roboto';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.2px;
	text-align: left;
	line-height: 24px;
}

.link:link{
	text-decoration: none;
	color: #FFFFFF;
}
.link:visited{
	text-decoration: none;
	color: #FFFFFF;
}
.link:active{
	text-decoration: none;
	color: #FFFFFF;
}

.title{
	font-size: 80px;
	line-height: 88px;
	font-family: 'Roboto';
	color: #FFFFFF;
	font-weight: 500;
	font-style: normal;
	letter-spacing: 0.2px;
}

.subtitle{
	font-size: 52px;
	line-height: 62px;
	font-family: 'Roboto';
	color: #FFFFFF;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.2px;
}

.p{
	font-size: 20px;
	line-height: 30px;
	font-family: 'Roboto';
	color: #FFFFFF;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.2px;
}


button{
	cursor: pointer;
	font-family: 'Roboto';
	line-height: 25px;
	font-size: 17px;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.2px;
}

.button{
	background: #4452FE;
	border: none;
	box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
}

.button-outline{
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
	background: #181818;
	padding: 13.5px 40px;
}



/*...........blocks...........*/

.navbar {
	display: flex;
	max-width: 1097px;
	max-height: 119px;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}

.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
    left: -37px;
}

.menu__link{
	padding: 10px;
	margin-right: 31px;
}

.menu .link:nth-child(4){
	margin-right: 0px;
}

.logo{
	padding: 10px;
}


.header{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

header h1{
	text-align: center;
	max-width: 709px;
	margin-top: 60px;
	margin-bottom: 27px;
}

header h2{
	max-width: 582px;
	text-align: center;
}

.buttons{
	margin: 65px auto 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.button__try{
	margin-right: 35px;
}

.button__learn{
	padding: 20px 40px;
}

.button__login{
	padding: 13.5px 46px;
}

.login-menu{
		display: flex;
}

@media screen and (min-width: 600px){
	.burger{
		display: none;
	}
}

@media screen and (max-width: 600px){

	/*...........styles...........*/
	
	.title{
		font-size: 52px;
		line-height: 62px;
		font-weight: 400;
	}

	/*...........blocks...........*/

	.button__login{
		padding: 12px 38px;
	}

	.navbar {
		max-height: 107px;
	}

	.burger{
		padding: 13.25px 11px 13.25px 16px;
	}

	.menu {
		display: none;
	}

	.header {
		margin-top: 57px;
	}

	header h1{
		max-width: 294px;
		margin-bottom: 17px;
		margin-top: 10px;
	}

	header h2{
		max-width: 382px;
		text-align: center;
	}

	.buttons{
		flex-direction: column;
		justify-content: space-between;
		margin-top: 67px;
	}

	.button__try{
		margin-right: 0px;
		margin-bottom: 21px;
	}

	.logo__style{
		width: 150px;
	}
}
